body {
  margin: 0;
  font-family: monospace;
}

form {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 10px;
}

a {
  color:#1fffb8;
}

a:visited{
  color:#1fffb8;
}

.columns {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  height: 100%;
}

#avatar_container {
  width: 40%;
  display: grid;
  place-content: center;
  grid-row-gap: 10px;
}

#content_container {
  width: 50%;
  padding: 20px 5%;
  background: #111716;
  color: white;
  display: grid;
  place-content: center;
  grid-row-gap: 10px;
}

#pagination {
  display: grid;
  place-content: center;
  grid-column-gap: 10px;
  grid-auto-flow: column;
}

#main_avatar {
  place-self: center;
  width: 150px;
}

#greeting{
  text-align: center;
}

#messages_container {
  display: grid;
  grid-row-gap: 30px;
  overflow: auto;
}

.message_container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 10px;
}

.author_container {
  display: grid;
  text-align: center;
  place-content: center;
}

.message_avatar {
  place-self: center;
  width: 50px;
}

.message_content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timestamp_container {
  color: #404040;
  text-align: right;
}

#new_message_input {
  width: 500px;
}
